---
---

$article-width: 1024px;
$aside-width: 280px;
$header-height: 64px;
$font-size: 18px;
$article-font-size: 21px;

body {
  padding: 0;
  margin: 0;
  color: #373a3c;
  background: #EB7849;
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
}

nav.top a:hover,
a:hover {
    color: #4b76f9;
}

a, a:active {
    color: #354790;
    text-decoration: none;
}

img {
    max-width: 100%;
}

pre {
    overflow: scroll;

    &.highlight {
      padding: 0.5em;
    }
}

a.btn {
    display: inline-flex;
    color: #fff;
    background: #008a24;
    padding: 10px;
    border-radius: 8px;

    &:hover {
        background: #00b32f;
    }
}

footer {
    background: #fff;
    display: flex;
    flex-direction: row;
    height: $header-height;
    align-items: center;
    justify-content: center;

    .align-container {
      justify-content: space-between;
    }
}

nav.top {
  height: $header-height;
  background-color: #f7f7f9;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  margin-bottom: 1em;
  // font-size: 18px;

  a {
    color: #929292;

    &:hover {
      color: #000;
    }

    display: flex;
    margin: 0 1em;
  }
}

.align-container {
  display: flex;
  flex-direction: row;
  // max-width: $article-width + $aside-width + $font-size;
  // min-width: $article-width + $aside-width + $font-size;

  max-width: $article-width;
  min-width: $article-width;
  height: 100%;
  align-items: center;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 1em;

  main {
    max-width: $article-width;
    display: flex;
    flex-direction: column;

    article {
      margin-bottom: 1em;
      padding: 1em;
      background: #f7f7f9;
      min-width: $article-width - (2 * $font-size);
      max-width: $article-width - (2 * $font-size);
      border-radius: 5px;

      font-size: $article-font-size;
    }
  }
}

aside {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  min-width: $aside-width;
  max-width: $aside-width;
  // margin-top: 1em;

  .nav-content {
    padding: 1em;
    background: #f7f7f9;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
  }
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h1, h2, h3 {
  margin-top: 0;
}

kbd {
    border-radius: 8px;
    background: #fff;
    padding: 10px;
    box-shadow: 1px 4px #dedede;
    text-shadow: 1px 3px #dedede;
    display: inline-flex;
    margin: 4px 0;
    border: 1px solid #dedede;
}

@media screen and (max-width: $article-width + $aside-width + (2 * $font-size)) {
  aside {
    display: none;
  }

  nav.top {
    justify-content: flex-start;
  }

  .content {
    main {
      width: 100%;
      max-width: 100%;

      article {
        max-width: 100%;
        border-radius: 0;
      }
    }
  }
}
