---
layout: default
---

<div class="home">

  <div class="post-list flex-boxes">
    {% for post in site.posts %}
      <div class="flex-box">
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2 class="flex-title">
          {% if post.tags contains 'quote' %}
            "{{ post.title }}"
          {% else %}
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          {% endif %}
        </h2>
      </div>
    {% endfor %}
  </div>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
