{% if paginator.page %}
  <footer>
    <div class="align-container">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}">&larr; Previous page</a>
      {% else %}
        <span></span>
      {% endif %}

      <span>Page #{{ paginator.page }} of {{ paginator.total_pages }}</span>

      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}">Next page &rarr;</a>
      {% else %}
        <span></span>
      {% endif %}
    </div>
  </footer>
{% endif %}
