{% if paginator.page %}
  <footer>
    <nav>
      {% if paginator.previous_page %}
        <div class="prev">
          <a href="{{ paginator.previous_page_path }}" class="prev">&larr; Previous page</a>
        </div>
      {% endif %}

      <div class="current">Page #{{ paginator.page }} of {{ paginator.total_pages }}</div>

      {% if paginator.next_page %}
        <div class="next">
          <a href="{{ paginator.next_page_path }}" class="next">Next page &rarr;</a>
        </div>
      {% endif %}
    </nav>
  </footer>
{% endif %}
