{% if paginator.page %}
  <footer class="container-fluid site-footer">
    <div class="col-sm-4 text-center">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">&larr; Previous page</a>
      {% endif %}
    </div>

    <div class="col-sm-4 text-center">
      <span class="page_number ">Page #{{ paginator.page }} of {{ paginator.total_pages }}</span>
    </div>

    <div class="col-sm-4 text-center">
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Next page &rarr;</a>
      {% endif %}
    </div>
  </footer>
{% endif %}
