<header class="centered-navigation" role="banner">
  <nav role="navigation">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

      {% for page in site.pages %}
        {% if page.title %}
        <a class="nav-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% endif %}
      {% endfor %}
<!--
      <li class="nav-link"><a href="javascript:void(0)">Programming</a></li>
      <li class="nav-link"><a href="javascript:void(0)">Photos</a></li>
      <li class="nav-link logo">
        <a href="{{ site.baseurl }}/" class="logo">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png" alt="Logo image">
        </a>
      </li>
      <li class="nav-link"><a href="javascript:void(0)">About</a></li>
      <li class="nav-link"><a href="javascript:void(0)">Contact</a></li> -->
  </nav>
</header>
