<div class="posts-wrapper">
  {% for post in paginator.posts %}
    <div class="post">
      <div class="title">
        {% unless post.tags contains 'quote' %}
          <h2 class="post-title">{{ post.title }}</h2>
        {% endunless %}

        <span class="timestamp">
          {{ post.date | date: "%b %-d, %Y" }}
        </span>
      </div>

      {% if post.tags contains 'quote' %}
        <blockquote class="blockquote blockquote-reverse">
          {{ post.title }}
        </blockquote>
      {% else %}
        {{ post.excerpt }}

        {% if post.content != post.excerpt %}
          <div class="text-right read-more-container">
            <a class="btn btn-md btn-primary read-more" href="{{ post.url | prepend: site.baseurl }}">Read more</a>
          </div>
        {% endif %}
      {% endif %}
    </div>
  {% endfor %}
</div>