.centered-navigation {
  $centered-navigation-background: #E7F1EC;

  $base-border-radius: 3px !default;
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  $centered-navigation-padding: 1em;
  $centered-navigation-logo-height: 2em;
  $centered-navigation-color: transparentize($base-font-color, 0.3);
  $centered-navigation-color-hover: $base-font-color;
  $centered-navigation-height: 60px;
  $centered-navigation-item-padding: 1em;
  $centered-navigation-submenu-padding: 1em;
  $centered-navigation-submenu-width: 12em;
  $centered-navigation-item-nudge: 2.2em;
  $horizontal-bar-mode: $large-screen;

  background-color: $centered-navigation-background;
  border-bottom: 1px solid darken($centered-navigation-background, 6%);
  min-height: $centered-navigation-height;
  width: 100%;
  z-index: 9999;

  .nav-link,
  .nav-link:hover,
  .nav-link:visited {
    text-decoration: none;
  }

  .nav-link {
    color: $centered-navigation-color;
    margin: 0 10px;

    &:hover {
      color: $centered-navigation-color-hover;
    }
  }

  .site-title {
    display: inline-block;
    text-decoration: none;
  }

  nav {
    padding: 0 $centered-navigation-padding;
    text-align: center;

    .nav-link {
      display: inline-block;
      padding: $centered-navigation-item-padding 0;
    }
  }
}
