$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 34em,
  // Medium screen / tablet
  md: 48em,
  // Large screen / desktop
  lg: 62em,
  // Extra large screen / wide desktop
  xl: 75em
) !default;

$background-image: url(/images/background2.png);

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #373a3c;
}

img {
  &.rounded {
    border-radius: .25rem;
  }
}

code {
  padding: .2rem .4rem;
  // font-size: 90%;
  color: #bd4147;
  background-color: #f7f7f9;
  border-radius: .25rem;
}

pre {
  overflow: scroll;
  font-size: 1rem;

  code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    border-radius: 0;
  }
}

pre, kbd, code {
  font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

.highlight {
  margin: 0;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

nav {
  display: flex;
  background-color: #f7f7f9;
  align-items: center;
  padding: 5px 15px;

  .navbar-brand {
    display: flex;

    .nav-icon {
      font-size: 0.7rem;
      margin-left: 5px;
    }
  }

  .navbar-nav {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    align-self: stretch;
    align-items: center;

    .nav-link {
      color: rgba(0,0,0,.5);
      display: flex;
      height: 100%;
      align-items: center;
      margin: 0 1rem;

      &:hover {
        color: rgba(0,0,0,.7);
      }

      &.active {
        border-bottom: 3px solid #0a0a0a;
        height: calc(100% + 5px + 2px);
      }
    }
  }

  a:hover {
    text-decoration: none;
  }
}

@media screen and (max-width: map-get($grid-breakpoints, md)) {
  nav {
    .navbar-brand {
      display: none;
    }

    .navbar-nav {
      justify-content: space-around;
    }
  }
}

.container {
  .post {
    .title {
      display: flex;
      align-items: center;

      h2.post-title {
        flex-grow: 1;
      }

      .timestamp {
        border-radius: .5rem;
        padding: .35rem;
        background: #5bc0de;
        color: white;
        font-weight: 600;
        font-size: 0.65rem;
      }
    }
  }
}

@media screen and (min-width: map-get($grid-breakpoints, md)) {
  .container {
    padding: 1rem 3rem;
  }
}

@media screen and (max-width: map-get($grid-breakpoints, md)) {
  .container {
    .post {
      .title {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 1rem;
        overflow: hidden;
      }
    }
  }
}

.btn {
  background-color: #32a571;
  border-color: #32a571;
  color: white;

  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;

  text-decoration: none;

  &:hover {
    background-color: #238659;
    border-color: #238659;
    text-decoration: none;
  }

  &:active {
    text-decoration: none;
  }

  &.btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    border-radius: .2rem;
  }
}

.site-footer {
  display: flex;
  justify-content: space-around;
}

// ---- OLD ----

.m-y {
  margin: 1em 0;
}

.gallery {
  img {
    display: inline-block;
  }
}

.header {
  background: $post-background-color;
  padding: 20px 0;
  max-height: 220px;

  .text {
    margin: 25px 0;
  }

  .photo {
    max-height: 165px;
  }
}

.photo-large {
  display: inline-block;
}

.vspace {
  min-height: 1.5em;
  display: block;
}

.post {
  background: $post-background-color;
  margin: 20px 0;
  padding: 30px 25px;

  // .title {
  //   // position: relative;
  //   // border-bottom: 1px solid $grey-color-light;
  //   // border-right: 1px solid $grey-color-light;
  //   // margin-bottom: 15px;

  //   h3 {
  //     padding-right: 110px;
  //   }

  //   .timestamp {
  //     //position: absolute;
  //     //right: 1em;
  //     //font-size: 0.75em;
  //     //padding: 0 10px;
  //   }
  // }

  img {
    display: inline-block;
    max-width: 100%;
  }
}

.site-footer {
  background: $post-background-color;
  padding: 20px 0 15px 0;
}

.media {
  img.media-object {
    max-width: 50px;
    max-height: 50px;
  }
}

#photo-sample-carousel {
  .carousel-indicators {
    bottom: 5px;

    li {
      border: 1px solid #90BF00;

      &.active {
        background-color: #90BF00;
      }
    }
  }

  .carousel-inner {
    .carousel-item {
      text-align: center;
      overflow: hidden;

      img {
        display: inline-block;
        height: 400px;
        max-height: 400px;
      }
    }
  }
}

.post {
  .img-sm {
    max-width: 100px;
    max-height: 100px;
  }

  .title {
    .anchor {
      // visibility: hidden;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &:hover {
    .title .anchor {
      visibility: visible;
    }
  }
}

.highlight {
  background: #F3F3F3;
  padding: 10px 10px 5px 10px;
  border-radius: 5px;
}

// @media (max-width: map-get($grid-breakpoints, sm)) {
//   .read-more-container {
//     text-align: left;
//   }
// }

// @media (min-width: map-get($grid-breakpoints, sm)) {
//   .read-more-container {
//     text-align: right;
//   }
// }

.btn.read-more {
  $read-more-btn-color: #32a571;
  $read-more-btn-color-hover: #238659;

  background-color: $read-more-btn-color;
  border-color: $read-more-btn-color;
  color: white;

  &:hover {
    background-color: $read-more-btn-color-hover;
    border-color: $read-more-btn-color-hover;
    color: white;
  }
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

figure > pre {
  margin-bottom: 0.3em;
}

@media (min-width: map-get($grid-breakpoints, md)) {
  body {
    background: $background-image;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

  // #main-menu {
  //   float: right;
  // }

  // .post .title .timestamp {
  //   right: 0.5em;
  //   position: absolute;
  //   top: 0.85em;
  //   //background: rgba(60, 60, 60, 0.2);
  // }
}

@media (max-width: map-get($grid-breakpoints, md)) {
  body {
    background: $background-color;
  }

  // .header {
  //   max-height: none;
  // }

  // #main-menu {
  //   text-align: center;
  //   margin: 25px 0 0 0;
  //   float: none !important;
  //   margin-top: 2em;

  //   .nav-item {
  //     margin: 5px 0;
  //     float: none;
  //   }
  // }

  // .main-container {
  //   padding: 0;

  //   .posts-wrapper {
  //     padding: 0;
  //   }

  //   .post {
  //     margin: 20px 0;
  //   }
  // }

  // .post {
  //   width: 100%;

  //   .title {
  //     border: none;
  //   }
  // }
}

// .navbar {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;

//   .navbar-brand, .nav {
//     display: flex;
//   }
// }

// .nav-link.nav-item.active {
//   border-bottom: 3px solid rgba(10, 10, 10, 1.0);
//   padding-bottom: 10px;
// }

// .navbar-brand {
//   padding: 5px 15px;
// }

// .nav-icon {
//   font-size: 0.5em;
// }

@media (max-width: map-get($grid-breakpoints, md)) {
  .container {
    // width: 95%;
  }

//   nav.navbar .navbar-nav {
//     display: flex;
//     justify-content: space-around;
//   }
}
