@import "grid", "variables";

@media (max-width: map-get($grid-breakpoints, md)) {
  body {
    background: $background-color;
  }
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #373a3c;
  // background: $background-color $background-image no-repeat top left fixed;
  // background: $background-color;
}

img {
  &.rounded {
    border-radius: .25rem;
  }

  &.img-fluid {
    max-width: 100%;
  }
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

nav {
  display: flex;
  background-color: #f7f7f9;
  align-items: center;
  padding: 5px 15px;

  .navbar-brand {
    display: flex;

    .nav-icon {
      font-size: 0.7rem;
      margin-left: 5px;
    }
  }

  .navbar-nav {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    align-self: stretch;
    align-items: center;

    .nav-link {
      color: rgba(0,0,0,.5);
      display: flex;
      height: 100%;
      align-items: center;
      margin: 0 1rem;

      &:hover {
        color: rgba(0,0,0,.7);
      }

      &.active {
        border-bottom: 3px solid #0a0a0a;
        height: calc(100% + 5px + 2px);
      }
    }
  }

  a:hover {
    text-decoration: none;
  }
}

@media screen and (max-width: map-get($grid-breakpoints, md)) {
  nav {
    .navbar-brand {
      display: none;
    }

    .navbar-nav {
      justify-content: space-around;
    }
  }
}

@media screen and (min-width: map-get($grid-breakpoints, md)) {
  .container {
    padding: 1rem 3rem;
  }
}

.container {
  .post {
    background: $post-background-color;
    margin: 20px 0;
    padding: 30px 25px;
  }
}

// ---- OLD ----

.m-y {
  margin: 1em 0;
}

.vspace {
  min-height: 1.5em;
  display: block;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}
