$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 34em,
  // Medium screen / tablet
  md: 48em,
  // Large screen / desktop
  lg: 62em,
  // Extra large screen / wide desktop
  xl: 75em
) !default;

$background-image: url(/images/background2.png);

.m-y {
  margin: 1em 0;
}

.gallery {
  img {
    display: inline-block;
  }
}

.header {
  background: $post-background-color;
  padding: 20px 0;
  max-height: 220px;

  .text {
    margin: 25px 0;
  }

  .photo {
    max-height: 165px;
  }
}

.photo-large {
  display: inline-block;
}

.vspace {
  min-height: 1.5em;
  display: block;
}

.post {
  background: $post-background-color;
  margin: 20px 0;
  padding: 30px 25px;

  .title {
    position: relative;
    border-bottom: 1px solid $grey-color-light;
    border-right: 1px solid $grey-color-light;
    margin-bottom: 15px;

    h3 {
      padding-right: 110px;
    }

    .timestamp {
      //position: absolute;
      //right: 1em;
      //font-size: 0.75em;
      //padding: 0 10px;
    }
  }

  img {
    display: inline-block;
    max-width: 100%;
  }
}

.site-footer {
  background: $post-background-color;
  padding: 20px 0 15px 0;
}

.media {
  img.media-object {
    max-width: 50px;
    max-height: 50px;
  }
}

#photo-sample-carousel {
  .carousel-indicators {
    bottom: 5px;

    li {
      border: 1px solid #90BF00;

      &.active {
        background-color: #90BF00;
      }
    }
  }

  .carousel-inner {
    .carousel-item {
      text-align: center;
      overflow: hidden;

      img {
        display: inline-block;
        height: 400px;
        max-height: 400px;
      }
    }
  }
}

.post {
  .img-sm {
    max-width: 100px;
    max-height: 100px;
  }

  .title {
    .anchor {
      // visibility: hidden;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &:hover {
    .title .anchor {
      visibility: visible;
    }
  }
}

.highlight {
  background: #F3F3F3;
  padding: 10px 10px 5px 10px;
  border-radius: 5px;
}

@media (max-width: map-get($grid-breakpoints, sm)) {
  .read-more-container {
    text-align: left;
  }
}

@media (min-width: map-get($grid-breakpoints, sm)) {
  .read-more-container {
    text-align: right;
  }
}

.btn.read-more {
  $read-more-btn-color: #32a571;
  $read-more-btn-color-hover: #238659;

  background-color: $read-more-btn-color;
  border-color: $read-more-btn-color;
  color: white;

  &:hover {
    background-color: $read-more-btn-color-hover;
    border-color: $read-more-btn-color-hover;
    color: white;
  }
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

figure > pre {
  margin-bottom: 0.3em;
}

@media (min-width: map-get($grid-breakpoints, md)) {
  body {
    background: $background-image;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

  #main-menu {
    float: right;
  }

  .post .title .timestamp {
    right: 0.5em;
    position: absolute;
    top: 0.85em;
    //background: rgba(60, 60, 60, 0.2);
  }
}

@media (max-width: map-get($grid-breakpoints, md)) {
  body {
    background: $background-color;
  }

  .header {
    max-height: none;
  }

  #main-menu {
    text-align: center;
    margin: 25px 0 0 0;
    float: none !important;
    margin-top: 2em;

    .nav-item {
      margin: 5px 0;
      float: none;
    }
  }

  .main-container {
    padding: 0;

    .posts-wrapper {
      padding: 0;
    }

    .post {
      margin: 20px 0;
    }
  }

  .post {
    width: 100%;

    .title {
      border: none;
    }
  }
}

.navbar {
  border-radius: 0 !important;
  padding: 0 !important;
}

.nav-link.nav-item.active {
  border-bottom: 3px solid rgba(10, 10, 10, 1.0);
  padding-bottom: 10px;
}

.navbar-brand {
  padding: 5px 15px;
}

.nav-icon {
  font-size: 0.5em;
}

@media (min-width: map-get($grid-breakpoints, xs)) {
  .container {
    width: 95%;
    max-width: 100%;
  }

  nav.navbar .navbar-nav {
    display: flex;
    justify-content: space-around;
  }
}
