@import "grid", "variables", "buttons";

.container {
  .post {
    code {
      padding: .2rem .4rem;
      // font-size: 90%;
      color: #bd4147;
      background-color: #f7f7f9;
      border-radius: .25rem;
    }

    pre {
      overflow: auto;
      font-size: 1rem;
      margin-bottom: 0.3em;

      code {
        padding: 0;
        font-size: inherit;
        color: inherit;
        background-color: transparent;
        border-radius: 0;
      }
    }

    pre, kbd, code {
      font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    }
  }
}

.site-footer {
  display: flex;
  justify-content: space-around;
  background: $post-background-color;
  padding: 20px 0 15px 0;
}
