@import "grid", "variables", "buttons";

.container {
  .post {
    code {
      padding: .2rem .4rem;
      // font-size: 90%;
      color: #bd4147;
      background-color: #f7f7f9;
      border-radius: .25rem;
    }

    pre {
      overflow: scroll;
      font-size: 1rem;
      margin-bottom: 0.3em;

      code {
        padding: 0;
        font-size: inherit;
        color: inherit;
        background-color: transparent;
        border-radius: 0;
      }
    }

    pre, kbd, code {
      font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    }

    .highlight {
      margin: 0;
      background: #F3F3F3;
      padding: 10px 10px 5px 10px;
      border-radius: 5px;
    }

    .img-sm {
      max-width: 100px;
      max-height: 100px;
    }

    img {
      display: inline-block;
      max-width: 100%;
    }

    .title {
      display: flex;
      align-items: center;

      h2.post-title {
        flex-grow: 1;
      }

      .timestamp {
        border-radius: .5rem;
        padding: .35rem;
        background: #5bc0de;
        color: white;
        font-weight: 600;
        font-size: 0.65rem;
      }
    }
  }
}

@media screen and (max-width: map-get($grid-breakpoints, md)) {
  .container {
    .post {
      .title {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 1rem;
        overflow: hidden;
      }
    }
  }
}

.btn.read-more {
  $read-more-btn-color: #32a571;
  $read-more-btn-color-hover: #238659;

  background-color: $read-more-btn-color;
  border-color: $read-more-btn-color;
  color: white;

  &:hover {
    background-color: $read-more-btn-color-hover;
    border-color: $read-more-btn-color-hover;
    color: white;
  }
}

.site-footer {
  display: flex;
  justify-content: space-around;
  background: $post-background-color;
  padding: 20px 0 15px 0;
}
