---
import Layout from '../layouts/Layout.astro';
import { Content as AboutContent } from '../../about.md';
---

<Layout title="About" isAbout={true}>
  <article>
    <h1>About</h1>
    <div class="content">
      <AboutContent />
    </div>
  </article>
</Layout>
