<div class="card">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <a href="{% post_url irrlicht-newton-tutorials/2015-08-25-introduction %}">
                Introduction
            </a>
        </li>

        <li class="list-group-item">
            <a href="{% post_url irrlicht-newton-tutorials/2015-08-26-application-architecture %}">
                Application architecture
            </a>
        </li>

        <li class="list-group-item">
            <a href="{% post_url irrlicht-newton-tutorials/2015-08-27-first-application %}">
                Application skeleton
            </a>
        </li>

        <li class="list-group-item">
            <a href="{% post_url irrlicht-newton-tutorials/2015-08-28-first-script %}">
                Scripting
            </a>
        </li>

        <li class="list-group-item">
            <a href="{% post_url irrlicht-newton-tutorials/2015-08-29-prepare-to-add-some-newtonianity %}">
                Introducing physics
            </a>
        </li>

        <li class="list-group-item">
            <a href="{% post_url irrlicht-newton-tutorials/2015-12-15-making-simple-level-with-blender %}">
                Modelling simple level with Blender3D
            </a>
        </li>

        <li class="list-group-item">
            <a href="{% post_url irrlicht-newton-tutorials/2015-12-16-finishing-the-first-scene %}">
                Wrapping up the first scene
            </a>
        </li>
    </ul>
</div>
