---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}

    <link rel="stylesheet" href="{{ '/css/contact.css' | prepend: site.baseurl }}">
  </head>

  <body>
    {% include header.html %}

    <div class="container main-container">
      <div class="post">
        <header class="post-header">
          <h1 class="post-title">{{ page.title }}</h1>
        </header>

        <article class="post-content">
          {{ content }}
        </article>
      </div>
    </div>

    {% include analytics.html %}
    {% include optimizations.html %}
  </body>
</html>
